<div class="edit-student-title">
  <p>検索条件選択</p>
  <form method="POST" action="">
    <div class="select-area">
      <label>氏名(ふりがな可):</label>
      <input type="text" class="search-text-param" />
    </div>
    <div class="select-area">
        <label class="margin-left-42">入社企業名:</label>
        <input type="text" class="search-long-text-param" />
    </div>
    <div class="select-area">
      <label>カレッジ開始年月</label>
      <label>年:</label>
      <select>
        <option>選択してください</option>
      </select>
      <label class="margin-left-10">月:</label>
      <select>
        <option>選択してください</option>
      </select>
      <label class="margin-left-20">参加時間帯:</label>
      <input type="checkbox" value="true" />夜間
      <input type="checkbox" value="false" />昼間
    </div>
    <div class="select-area">
      <input type="button" value="クリア" class="search-button-clear" />
      <input type="submit" value="検索"  class="search-button"/>
    </div>
  </form>
</div>