<div id="admin-container">
  <div id="left-admin-menu-container">
    <div class="toggle-area">
      <button class="toggle-button">□</button>
    </div>
    <div class="image-area">
      <img />
    </div>
    <div class="admin-menu-area">
      <ul class="menu-area">
        <li class="menu">
          <a routerLink="/"><button class="menu-button">出席簿</button></a>
        </li>
        <li class="menu">
          <a routerLink="/editstudent"><button class="menu-button">受講生情報編集</button></a>
        </li>
        <li class="menu">
          <a routerLink="/editadmin"><button class="menu-button">管理者情報編集</button></a>
        </li>
        <li class="menu">
        </li>        
      </ul>
    </div>
  </div>
  <div id="rigth-admin-main-container">
    <div id="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>