<div class="search-student-area">
    <div class="search-result-month">
      検索結果：アカウント名
    </div>
    <div class="search-result-student">
      <button class="search-student-button">田中正樹さん</button>
    </div>
    <div class="search-result-student">
        <button class="search-student-button">佐藤正樹さん</button>
    </div>
    <div class="search-result-student">
      <button class="search-student-button">鈴木正樹さん</button>
    </div>
    <div class="search-result-student">
      <button class="search-student-button">田中正樹さん</button>
    </div>
    <div class="search-result-student">
        <button class="search-student-button">佐藤正樹さん</button>
    </div>
  </div>