/* You can add global styles to this file, and also import other style files */
* {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0;
}

body {
    font-family: arial, sans-serif;
    width: 1262px;
    height: 668px;
    margin: 0;
    padding: 0;
}

.image-area {
    width:  170px;
    height: 170px;
    margin-top: 30px;
    margin-left: 14px;
    border-radius: 50%;
    background-color: white;
}

#admin-container {
    width: 1262px;
    height: 668px;
    margin: 0 auto;
    overflow: hidden;
}

#left-admin-menu-container {
    width: 198px;
    height: 668px;
    margin: 0 auto;
    background-color: #5a658c;
    border-right: medium solid rgb(77, 82, 117);
    float: left;
}

#rigth-admin-main-container {
    width: 1062px;
    height: 668px;
    margin: 0 auto;
    float: right;
}

#main-container {
    width: 950px;
    height: 630px;
    margin-top: 20px;
    margin-bottom: 17px;
    margin-left: 50px;
    background-color: white;
}